body {
  align-content: center;
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: "Lato";
}

.headLine {
  font-size: 50px;
  text-transform: uppercase;
}

.customers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0% 5%;
}

.profileBox {
  flex: 1 1 20%;
  flex-direction: column;
  height: 550px;
  margin: 10px;
  padding: 1px;
}

.pic {
  height: 20.6vw;
  width: auto;
}

.fullName {
  margin: 0% 10%;
  padding: 3%;
  text-transform: uppercase;
  font-size: 20px;
  border-bottom: 2px solid #3fa979;
}

.email {
  color: #dddddd;
  text-transform: uppercase;
  font-size: 13px;
  margin: 8% 0%;
}

p {
  color: #9d9d9d;
  font-size: 14px;
  text-transform: capitalize;
}

.phoneNum {
  padding-bottom: 5%;
}

.cellNum {
  color: transparent;
  text-shadow: 0px 0px 4px #4eb77c;
}
