body {
  align-content: center;
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: "Cousine";
}

.customers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0% 5%;
}

.profileBox {
  flex: 1 1 20%;
  flex-direction: column;
  height: 550px;
  border: 1px solid black;
  margin: 10px;
  padding: 1px;
}

.pic {
  height: 20.6vw;
  width: auto;
}
